h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 3.125em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 2.5em;
  text-align: center;
  color: white;
  padding-top: 1.7em;
  padding-bottom: 1.5em;
}

h4 {
  font-size: 2.5em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1.25em;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

nav > a,
p,
button {
  font-family: "Montserrat", sans-serif;
}

ul > li {
  font-family: "Poppins", sans-serif;
}

button {
  font-size: clamp(1em, 3vw, 1.3em);
  background-color: #161515;
  border: 1px solid black;
  color: white;
  padding: 13px 20px;
  border-radius: 28px;
  transition: all 200ms ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: #b1454a;
  border: 1px solid #b1454a;
}

/* General */

.red {
  color: #b1454a;
}

.yellow {
  color: #fbd446;
}

.column__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* HEADER */

.header {
  background-color: #ffeff0;
}

.header__logo {
  text-align: center;
  background-color: #b1454a;
  padding: 1.9em 0em;
}

.header__image,
.footer__image {
  max-width: 11.25em;
  min-width: 7.5em;
  width: 30%;
}

.header__navigation,
.footer__navigation {
  align-content: center;
  flex-wrap: wrap;
  padding: 1.9em 0em;
}

.header__link,
.footer__link {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0em 1em;
  font-size: clamp(1em, 4vw, 1.2em);
  color: black;
  transition: all 150ms ease-in-out;
}

.header__link:hover,
.footer__link:hover {
  color: #b1454a;
  cursor: pointer;
}

/* First Section */

.first,
.second,
.header {
  display: grid;
  grid-template-columns: 40% 60%;
  margin: 0 auto;
}

.first__left {
  background-color: #b1454a;
}

.first__image {
  width: 70%;
  display: block;
  margin: 0 auto;
  padding: 1.9em 0em;
}

.first__right {
  align-items: center;
  padding: 0.7em 3.1em;
  background-color: #ffeff0;
}

.first__h1 {
  font-size: 3.75em;
  margin-top: 1.25em;
  margin-bottom: 1em;
}

.first__p {
  margin: 2.19em 0em;
  font-size: 1.125em;
}

/*Second Section*/

.second {
  margin: 0px;
}

.second__image {
  display: block;
  margin: 1.25em auto;
  width: 70%;
  max-width: 18.75em;
}

.second__button {
  display: block;
  margin: 1em auto;
}

.second__left {
  background-color: #f8eddf;
  padding: 2.5em 0.625em;
}

.second__right {
  padding: 1.875em 2.82em;
}

/*Third Section*/

.third {
  background-color: #b1454a;
  margin: 0em;
  padding-bottom: 1.75em;
}

.third__navigation {
  text-align: center;
  margin: 1.875em 0em;
}

.third__link {
  border: 1px solid white;
  padding: 0.95em 1.25em;
  margin: 0em 0.625em;
  border-radius: 1.875em;
  color: white;
  text-decoration: none;
  font-size: 1.19em;
  transition: all 180ms ease-in-out;
}

.third__link:hover {
  background-color: #161515;
  border: 1px solid #161515;
}

.third__options {
  width: 1.25em;
}

.third__cards {
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-gap: 0em;
  margin: 0.63em auto;
  width: 90%;
}

.third__card {
  border-radius: 25px;
  margin: 0.94em;
  padding: 0.94em;
  text-align: center;
}

.third__card--small {
  margin: 1.75em;
  border: 1px solid #f0f0f048;
  background-color: #f0f0f02f;
  color: white;
}

.third__card--big {
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.third__image {
  width: 75%;
}

.third__h5 {
  font-size: 1.69em;
  color: #585858;
}

.third .star-price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.third__cards p {
  margin-top: 0.94em;
  margin-bottom: 1.875em;
  font-size: 1.125em;
}

.third button {
  text-align: center;
  display: block;
  margin: 1.25em auto;
  transition: all 120ms ease-in-out;
}

.third button:hover {
  color: white;
  background-color: #2c2b2b;
}

/* Fourth Section */

.fourth__sides {
  display: grid;
  grid-template-columns: 50% 50%;
}

.fourth__sides img {
  width: 55%;
  max-width: 25em;
  display: block;
  margin: 4.375em auto;
}

.fourth__beige {
  background-color: #fef0de;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth__white {
  margin: 0em auto;
  padding: 0.625em 3.125em;
}

.fourth__ul {
  padding-inline-start: 1em;
}

.fourth__li {
  list-style: none;
}

/* Fifth Section */

.fifth {
  background-color: #b1454a;
  padding: 6.25em 0.94em;
  text-align: center;
}

.fifth__h1 {
  display: block;
  margin: 0em;
  padding: 0.625em;
  color: white;
  font-size: 3.75em;
}

.fifth p {
  color: white;
  padding: 1.25em 0.94em;
}

.fifth__button:hover {
  background-color: #313131;
}

.fifth__form input {
  padding: 0.82em 1.25em;
  margin: 0em 0.94em;
  font-size: 1.25em;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1.75em;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2em 2.5em;
  background-color: #fef0de;
}

.footer__nav {
  background-color: #fef0de;
}

.footer__social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer__socialink {
  margin: 0em 0.625em;
  font-size: 1.3125em;
  color: #b1454a;
  transition: all 150ms ease-in-out;
}

.footer__socialink:hover {
  color: #161515;
  cursor: pointer;
}

/* MEDIA QUERIES */

@media all and (max-width: 56.25em) {
  h3 {
    padding-top: 1.5em;
    padding-bottom: 0.8em;
  }

  h4 {
    font-size: 2.5em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  .footer {
    justify-content: space-evenly;
    padding: 1.7em 0.5em;
  }

  .first,
  .second,
  .header {
    grid-template-columns: 30% 70%;
  }

  .first__right {
    padding: 0.7em 3.1em 3em 3.1em;
  }

  .first__h1 {
    font-size: 3em;
    margin: 0.2em 0em;
  }

  .first__p {
    margin: 1.5em 0em;
  }

  .fourth__ul {
    padding-inline-start: 0em;
  }
}

@media all and (max-width: 50.19em) {
  .header__link,
  .footer__link {
    font-size: 0.9em;
  }
}

@media all and (max-width: 46.25em) {
  .first,
  .second,
  .header {
    grid-template-columns: 1fr;
  }

  .first__image {
    width: 40%;
    padding: 1.2em 0em;
  }

  .first__right {
    padding: 3.3em 3.1em;
  }

  .second__image {
    width: 35%;
    margin: 0.7em auto;
  }

  .second__right {
    padding: 2.82em 2.82em;
  }

  .third__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.6em 0em;
  }

  .third__link {
    width: 20%;
    margin: 0.8em 1.5em;
  }

  .fourth__li {
    font-size: 0.85em;
  }

  .fifth {
    padding: 4.25em 0.94em;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer__image {
    display: block;
    margin: 0 auto;
  }
}

@media all and (max-width: 46.25em) {
  .third__card {
    margin: 0.85em;
  }

  .third__card--small {
    margin: 1.75em 0.8em;
  }

  .third__h5 {
    font-size: 1.3em;
  }

  .third__cards p {
    font-size: 0.9em;
  }
}

@media all and (max-width: 41.56em) {
  .fourth__sides {
    grid-template-columns: 1fr;
  }

  .fourth .sides-small-50 {
    grid-template-columns: 1fr 1fr;
  }

  .fifth__form {
    display: flex;
    flex-direction: column;
    margin-top: 0em;
  }

  .fifth__button {
    width: 40%;
    display: block;
    margin: 1.5em auto;
  }
}

@media all and (max-width: 35em) {
  .header__nav,
  .footer__nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__link,
  .footer__link {
    margin: 0.4em 1em;
  }

  .third__cards {
    grid-template-columns: 1fr;
    width: 70%;
  }

  .fifth__h1 {
    font-size: clamp(1.4em, 5vw, 2.2em);
  }
}

@media all and (max-width: 19.6em) {
  .third__link {
    padding: 0.95em 1.25em;
    margin: 0.8em 1.5em;
    font-size: 0.9em;
  }

  .fourth .sides-small-50 {
    grid-template-columns: 1fr;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #302d2d;
  }

  .header,
  .first__right {
    background-color: #302d2d;
  }

  .second__right {
    background-color: #1a1616;
  }

  .header__link,
  .footer__link {
    color: rgb(241, 240, 240);
  }

  .first__h1,
  .first__p,
  .second__p,
  h2 {
    color: white;
  }

  button {
    background-color: #b1454a;
    border: 1px solid #b1454a;
    color: white;
  }

  button:hover {
    cursor: pointer;
    background-color: #b8595c;
    border: 1px solid #b8595c;
  }

  .second__left,
  .fourth__beige,
  .footer,
  .footer__nav {
    background-color: #c2b29b;
  }

  .third__card--big {
    border: 1px solid #303030;
    background-color: #303030;
  }

  .third__card--small {
    border: 1px solid #1a18186b;
    background-color: #1a18189c;
    color: white;
  }

  .third__h5,
  .third__card--big p {
    color: white;
  }

  .third button {
    background-color: black;
    color: white;
  }

  .fourth__white {
    background-color: #1d1919;
  }

  h4,
  .fourth p,
  .fourth__li {
    color: white;
  }

  .fifth__button {
    background-color: #161515;
  }

  .footer__link,
  .footer__socialink {
    color: #161515;
  }

  .footer__socialink:hover {
    color: #b14550;
  }
}
